<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"    
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"    
        xmlns:context="http://www.springframework.org/schema/context"    
        xmlns:mvc="http://www.springframework.org/schema/mvc" 
   		xsi:schemaLocation="http://www.springframework.org/schema/beans 
   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
       	http://www.springframework.org/schema/aop 
       	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
       	http://www.springframework.org/schema/tx 
       	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd   
       	http://www.springframework.org/schema/context
       	http://www.springframework.org/schema/context/spring-context-3.0.xsd
   		http://www.springframework.org/schema/mvc 
   		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       	">
       <context:annotation-config />
       
       <context:component-scan base-package="org.blue.xss.controller"></context:component-scan>

	   <!-- 拦截器 -->
		<mvc:interceptors>
				<mvc:interceptor>
					<!-- 拦截路径 -->
					<mvc:mapping path="/Project/*" />
					<bean class="org.blue.xss.util.LoginCheckIntercepor"></bean>
				</mvc:interceptor>
		</mvc:interceptors>
		
		<mvc:interceptors>
				<mvc:interceptor>
					<!-- 拦截路径 -->
					<mvc:mapping path="/Admin/Admin*" />
					<bean class="org.blue.xss.util.AdminLoginCheckIntercepor"></bean>
				</mvc:interceptor>
		</mvc:interceptors>
	   
	   <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/view/" p:suffix=".jsp" />
</beans>
 